<div class="flex-container">
  <div class="flex-items">
    <h2>Minutes Calculator</h2>

    <div class="input-container">
      <label for="threeHours">3 hours</label>
      <input
        id="threeHours"
        type="number"
        [(ngModel)]="threeHours"
        placeholder="Enter 3 hour speedups"
      />
    </div>

    <div class="input-container">
      <label for="hours">hours</label>
      <input
        id="hours"
        type="number"
        [(ngModel)]="hours"
        placeholder="Enter hours"
      />
    </div>

    <div class="input-container">
      <label for="fiveMinutes">5 minutes</label>
      <input
        id="fiveMinutes"
        type="number"
        [(ngModel)]="fiveMinutes"
        placeholder="Enter hours"
      />
    </div>

    <div class="input-container">
      <label for="minutes">minutes</label>
      <input
        id="minutes"
        type="number"
        [(ngModel)]="minutes"
        placeholder="Enter hours"
      />
    </div>

    <button (click)="convertMinutes()">Convert to minutes</button>

    @if (result) {
    <p>
      Result: <span>{{ result }} minutes</span>
    </p>
    }
  </div>
</div>
