.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0px;

  .flex-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .columns-container {
      display: flex;
      margin: 0;

      .speedup-times {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        padding: 0 1rem 1rem 1rem;
        border-radius: 0.5rem;
        border: 1px solid #000;

        .input-container {
          display: flex;
          flex-direction: column;
          align-items: normal;
          margin: 0.5rem;
          padding: 1rem;

          h5 {
            margin: 0rem;
          }

          label {
            margin: 0rem 0.5rem;
            background: rgba(255, 255, 255, 0);
            font-weight: bold;
          }
          input {
            padding: 0.5rem;
            margin: 0.2rem;
            background: rgba(255, 255, 255, 0.738);
            border: 0px;
            outline: 0px;
            min-width: 160px;
          }
        }
      }
    }

    button {
      width: 100%;
      margin: 0.5rem;
      padding: 1rem 2rem 1rem 2rem;
      background: #007bff;
      color: white;
      border: none;
      cursor: pointer;
      font-size: 2rem;
    }
  }
}

.one-minute-speedup {
  background: linear-gradient(45deg, #d4d8d9 0%, #4d5359 100%);
  border: 5px solid #98a1a1;
  border-radius: 0.5rem;
}

.five-minutes-speedup {
  background: linear-gradient(45deg, #99e97a 0%, #115f0b 100%);
  border: 5px solid #00a312;
  border-radius: 0.5rem;
}

.one-hour-speedup {
  background: linear-gradient(45deg, #9cd9f2 0%, #27568c 100%);
  border: 5px solid #2456ca;
  border-radius: 0.5rem;
}

.three-hours-speedup {
  background: linear-gradient(45deg, #ddb9f6 0%, #7a2bba 100%);
  border: 5px solid #af5eff;
  border-radius: 0.5rem;
}
